<section class="container">
  <h2 class="title">Періоди</h2>

  @for (period of periods.controls; track period.value; let i = $index) {
  <app-single-date-range [period]="period" (validPeriod)="onValidPeriod()">
  </app-single-date-range>
  }

  <button
    class="calculate-button"
    mat-flat-button
    color="primary"
    (click)="calculateDuration()"
  >
    Розрахувати
  </button>

  <div *ngIf="duration" class="result-container">
    <p>Роки: {{ duration.years }}</p>
    <p>Місяці: {{ duration.months }}</p>
    <p>Дні: {{ duration.days }}</p>
  </div>
</section>
