<section class="section">
  <h3 class="section-title">authentication.controller.ts</h3>

  <form class="request-from" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="request-url-container">
      <mat-form-field>
        <mat-label>HTTP method</mat-label>
        <mat-select [formControl]="method">
          @for (httpMethod of httpMethods; track httpMethod) {
          <mat-option [value]="httpMethod">
            {{ httpMethod }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="request-url">
        <mat-label>Enter request</mat-label>
        <input
          matInput
          [formControl]="url"
          placeholder="http://localhost:3000/"
        />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>

      <input type="email" matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>

      <input type="text" matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input type="password" matInput formControlName="password" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Send request</button>
  </form>

  <mat-card *ngIf="response$ | async as response">
    <mat-card-title class="card-tile">Response</mat-card-title>
    <mat-card-content>
      <pre>{{ response | json }}</pre>
    </mat-card-content>
  </mat-card>
</section>
