@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #bb86fc;

  --background-color: #ffffff;
  /* White background */
  --text-color: #000000;
  /* Black text */
  --accent-color: #6200ea;
  /* Purple accent color */
}

html,
body {
  height: 100%;
}

.mat-mdc-form-field,
.mdc-button {
  font-family: "PT Serif", serif !important;
}

body {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

a,
button {
  color: var(--accent-color);
}
