@import url("assets/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900&display=swap");
@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";

:root {
  --font-sans: "Noto Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
