@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #bb86fc;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

a,
button {
  color: var(--accent-color);
}
